[build]
  command = "npm install --prefix backend && CI=false npm install --prefix frontend && npm run build --prefix frontend"
  publish = "frontend/build"

[functions]
  external_node_modules = ["sequelize", "pg", "pg-hstore", "dotenv"]
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
